<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-mg-12 footer-about">
        <h3 class="text-uppercase"> {{ "footer.about" | translate }} </h3>
        <p class="first">{{ "footer.firstP" | translate }}</p>
        <p class="second">{{ "footer.secondP" | translate }}</p>
      </div>
      <div class="col-lg-4 col-md-12 left-footer">
        <h3 class="text-uppercase"> {{ "footer.contact" | translate }}</h3>
        <ul class="list-unstyled">
          <li class="d-flex">
            <img src="assets/img/white-loc.png" alt="" />
            <span>
              1500 Treat Ave, Suite 200<br />
              San Francisco, CA 94110
            </span>
          </li>
          <li class="d-flex">
            <img src="assets/img/white-env.png" alt="" />
            <span> vctung@outlook.com </span>
          </li>
          <li class="d-flex">
            <img src="assets/img/white-phone.png" alt="" />
            <span> 1-800-800-2299 (Support) </span>
          </li>
        </ul>
      </div>
      <div
        class="col-lg-4 col-md-12 right-footer d-flex justify-content-between"
      >
        <div class="links-holder">
          <h3 class="text-uppercase">{{ "footer.NAVIGATION" | translate }}</h3>
          <ul class="list-unstyled">
            <li><a href="#">{{ "footer.homeLink" | translate }}</a></li>
            <li><a href="#">{{ "footer.aboutLink" | translate }}</a></li>
            <li><a href="#">{{ "footer.faqLink" | translate }}</a></li>
            <li><a href="#">{{ "footer.contactLink" | translate }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div
    class="
      copyRights
      container
      position-absolute
      d-flex
      justify-content-between
      align-items-center
    "
  >
    <span>{{ "footer.copyRights" | translate }}</span>
    <div class="social">
      <a href="">
        <img src="assets/img/upperNav/social/face.png" alt="" />
      </a>
      <a href="">
        <img src="assets/img/upperNav/social/insta.png" alt="" />
      </a>
      <a href="">
        <img src="assets/img/upperNav/social/pint.png" alt="" />
      </a>
      <a href="">
        <img src="assets/img/upperNav/social/twitter.png" alt="" />
      </a>
    </div>
  </div>
</footer>
