<div class="about" id="about">
  <div class="container">
    <h2 class="w3_heade_tittle_agile">{{"welcome.heading"| translate}}</h2>
    <p class="sub_t_agileits">{{"welcome.p"| translate}}</p>

    <p class="ab">
      {{"welcome.description"| translate}}
    </p>

    <div class="about-w3ls row">
      <div class="col-md-6 w3about-img">
        <img src="assets/img/about.jpg" alt=" " class="img-responsive w-100" />
      </div>
      <div class="col-md-6 col-sm-12 w3about-img two">
        <div class="w3about-text">
          <h5 class="w3l-subtitle">{{"welcome.h5"| translate}}</h5>
          <p>
            {{"welcome.subtitleDesc-1"| translate}}
          </p>

          <p>
            {{"welcome.subtitleDesc-2"| translate}}
          </p>
          <div class="read">
            <a routerLink="about" class="hvr-rectangle-in">{{"welcome.readMore"| translate}}</a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
