<div class="upperNav">
  <div class="container">
    <div class="content d-flex justify-content-between">
      <div class="left-contact d-flex">
        <p>
          <img src="assets/img/upperNav/contact/location.png" alt="location" />
          <span>1600 Amphitheatre Parkway, CA 94043</span>
        </p>
        <a href="mailto:vctung@outlook.com">
          <img src="assets/img/upperNav/contact/envelop.png" alt="mail" />
          <span>vctung@outlook.com</span>
        </a>
      </div>
      <div class="social">
        <a href="https://www.facebook.com/" target="_blank">
          <img src="assets/img/upperNav/social/face.png" alt="facebook" />
        </a>
        <a href="https://www.instagram.com/">
          <img src="assets/img/upperNav/social/insta.png" alt="instagram" />
        </a>
        <a href="https://www.facebook.com/">
          <img src="assets/img/upperNav/social/pint.png" alt="pint" />
        </a>
        <a href="https://www.twitter.com/">
          <img src="assets/img/upperNav/social/twitter.png" alt="twitter" />
        </a>
      </div>
    </div>
  </div>
</div>
